.H {font-weight: bold;
	color: black;
}
				
.M {margin: 0px 0px 0px 15px;
}
			
div {width: 1000px; text-align: left;
}
			
table {width: 950px;
}
			
.tb1 {border: 1px;
}
			
caption {caption-side: top;
}